# JetBrains IDE
.idea/

# lambda
lambda-example/.idea
lambda-example/target

# terraform JetBrains IDE
terraform/.idea/

# terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl